.noprint {
    display: none;
}

.wrap_maxtabelle table{
    width:100%;
}

.wrap_maxtabelle table td{
    min-width:70px;
}

.wrap_formular table, .wrap_formular td, .wrap_formular tr, .wrap_formular tbody{
	border:none;
	background:none;
	border-color:white;
}

.wrap_bigtext {
    font-size:115%;
}

.wrap_smalltext {
    font-size:90%;
}
