.noprint {
    display: none;
    margin:0;
    padding:0;
}

.wrap_maxtabelle table{
    width:100%;
}

.wrap_maxtabelle table td{
    min-width:70px;
}

.wrap_formular table, .wrap_formular td, .wrap_formular tr, .wrap_formular tbody{
	border:none;
	background:none;
	border-color:white;
}

.wrap_formular2 table td, .wrap_formular2 table tr,.wrap_formular2 table {
	border-bottom:1px solid red;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}

.wrap_platz table td {
	padding:10px 4px 10px 4px;
}

.wrap_bigtext {
    font-size:115%;
}

.wrap_smalltext {
    font-size:90%;
}

.wrap_bigtext td, .wrap_bigtext th {
	font-size:130%;
}

.wrap_smalltext td, .wrap_smalltext th {
	font-size:80%;
}
