.boxed {
    display:inline-block;
    border: 1px solid red;
    background: pink;
    padding: 5px;
    margin:3px;
}

.wrap_maxtabelle table{width:100%;}

.wrap_formular table, .wrap_formular td, .wrap_formular tr, .wrap_formular tbody{
	border:none;
	background:none;
	border-color:white;
}

.wrap_formular2 table td, .wrap_formular2 table tr,.wrap_formular2 table {
	border-bottom:1px solid red;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}

.wrap_platz table td {
	padding-top:12px;
	padding-bottom:12px;
}

.wrap_bigtext {font-size:115%;}

.wrap_smalltext {font-size:90%;}
