/* ---------------------------------------------------------------------
Gero Gothe - Version 1.1 / 2020-01-21

Changelog:
* 1.1 - Hinzufügen der WRAP-Klasse .wrap_formular für randlose Tabellen
--------------------------------------------------------------------- */
  

/*****************************/
/* WRAP-Klasse für Formulare */
/*****************************/
.wrap_formular table, .wrap_formular td, .wrap_formular tr, .wrap_formular tbody{
	border:none;
	background:white;
	border-color:white;
	font-size:100%;
}

.wrap_formular td {
	padding-left: 5px;
}

.wrap_maxtabelle table {
	width:100%;
}
/*****************************/


h1 {
	display:none;
}

table.pdfheader {
	display:none;
    
}

table.pdffooter {
    display:none;
}

@page {
	
	margin:5cm 1.5cm 1.5cm 1.5cm; 
	margin-header:0.5cm; 
	margin-footer:0.5cm;
}

body {
	font-size:110%;
}

